main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  > * {
    grid-column: 2;
  }
}

/**** Forside ****/
h1 {
  font-size: 4rem;
  text-align: center;
  padding-top: 100px;
  letter-spacing: 4px;
}

.forside img {
  max-width: 180px;
  place-self: center;
  padding-top: 50px;
  padding-bottom: 70px;
}

#cta_forside {
  display: block;
  color: black;
  margin-bottom: 80px;
  padding: 0 60px;
}

#cta_forside:hover {
  color: var(--color-roed);
}

/**** projekter oversigt ****/
h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.projekter_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0 40px;
  margin-bottom: 80px;
}

/*** Tema siderne ****/
.tema_tekst {
  margin-inline: 40px;
  margin-block: 40px;
}

.tema_tekst p {
  max-width: 100ch;
}

.tema_tekst h4 {
  padding-top: 40px;
  padding-bottom: 10px;
}

.tema_tekst a {
  padding-top: 20px;
}

.tema_img {
  padding-top: 20px;
}

.t4_p p {
  padding: 10px 0;
}

#cta_back {
  text-align: right;
  padding-top: 80px;
  padding-bottom: 20px;
}

/**** om mig side ****/
.om_mig_grid_1_1 {
  margin: 0 40px;
}

.om_mig_grid_1_1 h4 {
  padding-top: 40px;
  padding-bottom: 10px;
}

.semester_tekst {
  margin-bottom: 80px;
}

.order img {
  max-width: 250px;
  place-self: center;
}

/**** footer *****/
footer {
  background-color: var(--color-beige);
  padding: 60px;
}
#footer_links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-self: center;
}

#footer_links a {
  color: black;
  padding-left: 30px;
}
.footer_logo img {
  max-width: 80px;
}

.footer_logo {
  place-self: center;
  padding-bottom: 60px;
}

.link_p {
  border-right: 0.7px solid black;
  padding-right: 30px;
}

@media (min-width: 800px) {
  /* forside */
  h1 {
    font-size: 8rem;
    letter-spacing: 6px;
  }
  .grid_forside {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }

  .forside_overskrift {
    display: grid;
    grid-row: 1/3;
    grid-column: 2/3;
  }

  .forside_portraet {
    display: grid;
    grid-row: 2/4;
    grid-column: 2/3;
  }

  #cta_forside {
    float: right;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid var(--color-roed);
    border-radius: 50%;
  }

  /* projekter oversigt */
  .projekter_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .projekt_img {
    filter: opacity(60%);
    border: 0.5px solid var(--color-beige);
  }

  .projekt_img:hover {
    filter: opacity(100%); /* Giver transparenthed på billedet */
    transition: filter 0.3s; /*gør at det er mere smooth */
    transform: scale(1.05) translateY(-5px); /* Forstørrer og flytter 5px op */
  }

  /* tema beskrivelser */
  .tema_tekst {
    margin-inline: 100px;
  }

  .tema_tekst a:hover {
    color: black;
  }

  /* om mig side */
  .om_mig_grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 150px;
  }
  .ommig_streg {
    border-right: 0.7px solid black;
    padding: 0 50px;
    padding-bottom: 30px;
  }
  .om_mig_grid_1_1 h4 {
    text-align: center;
    padding-bottom: 40px;
  }

  #overskrift_ommig {
    text-align: left;
    padding-bottom: 10px;
  }

  .semester_tekst {
    padding: 0 40px;
  }

  .order {
    order: 1;
  }

  .tekst_ommig {
    padding-left: 80px;
    padding-top: 50px;
    padding-right: 40px;
  }

  /* footer */
  .footer_grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer_logo {
    align-self: center;
    padding-bottom: 0;
    margin-inline-start: 150px;
  }
  #footer_links {
    padding-right: 150px;
    padding-top: 20px;
  }
  #footer_links a:hover {
    color: var(--color-roed);
  }
}
